<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Console appender for local/test -->
    <springProfile name="local,test,default">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
            </encoder>
        </appender>
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <!-- JSON appender for prod (CloudWatch) -->
    <springProfile name="prod">
        <appender name="JSON" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <includeMdcKeyName>jobExecutionId</includeMdcKeyName>
                <includeMdcKeyName>stepName</includeMdcKeyName>
            </encoder>
        </appender>
        <root level="WARN">
            <appender-ref ref="JSON"/>
        </root>
        <logger name="br.com.roubometro" level="INFO"/>
        <logger name="org.springframework.batch" level="INFO"/>
    </springProfile>

</configuration>
